{% extends 'shop/base/base.html' %}
{% load static %}
{% load register_tags %}

{% block title %}
    Product Detail
{% endblock %}

{% block product_detail_content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.get_absolute_url }}"
                                           alt="..."/></div>
                <div class="col-md-6">
                    <div>
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                Delete
                            </button>
                            <!-- Delete Confirmation Modal -->
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" action="{% url 'shop:product_delete' product.id %}">

                                            <div class="modal-body">
                                                Are you sure you want to delete <strong>{{ product.name }}</strong>?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                            <a href="{% url 'shop:product_update' product.id %}">
                                <button type="button" class="btn btn-outline-warning">Update</button>
                            </a>
                        {% endif %}
                    </div>
                    <div class="small mb-1"><h3>Quantity : {{ product.quantity }}</h3></div>
                    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                    <div class="fs-5 mb-5">
                        {% if product.discount %}
                            <span class="text-muted text-decoration-line-through">
                                    ${{ product.price }}
                                    </span>
                            ${{ product.discounted_price }}
                        {% else %}
                            ${{ product.price }}
                        {% endif %}
                    </div>
                    <p class="lead">{{ product.description }}</p>
                    <div class="d-flex">
                        <form method="post" action="{% url 'shop:order_view' product.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <h2>Place an order</h2>
                            </div>
                            <div class="form-group mb-3">
                                <label for="formGroupExampleInput">Your name</label>
                                <input type="text" class="form-control" name="full_name" placeholder="Your name">
                            </div>
                            <div class="form-group mb-3">
                                <label for="formGroupExampleInput2">Your phone</label>
                                <input type="text" name="phone" class="form-control" placeholder="Your phone">
                            </div>
                            <div class="form-group mb-3">
                                {% if form.phone.errors %}
                                    <div class="text-danger">
                                        {{ form.phone.errors }}
                                    </div>
                                {% endif %}


                            </div>
                            <div class="form-group mb-3">
                                <label for="formGroupExampleInput2">Quantity</label>
                                <input type="number" name="quantity" class="form-control" placeholder="Quantity">
                            </div>


                            <div class="form-group mb-3">

                                <input type="submit" class="btn btn-success" value="Send">
                            </div>
                            <div class="form-group mb-3">

                                {% if messages %}
                                    <div class="messages">
                                        {% for message in messages %}
                                            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2>Latest comments ({{ product.comments.count }})</h2>
                </div>
                {% for comment in comments %}
                    <div class="media card p-4 mt-2">
                        <div class="media-body">

                            <div class="d-flex justify-content-lg-start small text-warning mb-2">
                                {#                                    {% with ''|center:product.rating as range %}#}
                                {#                                        {% for f in range %}#}
                                {#                                            <div class="bi-star-fill"></div>#}
                                {#                                        {% endfor %}#}
                                {#                                    {% endwith %}#}
                                {% for _ in comment.rating|get_range %}
                                    <div class="bi-star-fill"></div>
                                {% endfor %}

                            </div>

                            <h3 class="mt-0">{{ comment.full_name }}</h3>
                            <p>{{ comment.content }}</p>
                            <h5>{{ comment.created_at }}</h5>
                        </div>
                    </div>
                {% endfor %}


            </div>

            <div class="col-8 offset-2 mt-5">

                <div class=" p-5">
                    <div class="text-center">
                        <h3>Add Comment</h3>
                    </div>

                    <form method="post" action="{% url 'shop:comment_view' product.id %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="rating">Rating:</label>
                            <select id="rating" name="rating">
                                <option value="1">⭐ (1)</option>
                                <option value="2">⭐⭐ (2)</option>
                                <option value="3">⭐⭐⭐ (3)</option>
                                <option value="4">⭐⭐⭐⭐ (4)</option>
                                <option value="5">⭐⭐⭐⭐⭐ (5)</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput">Your name</label>
                            <input type="text" class="form-control" name="full_name" placeholder="Your name">
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Your email</label>
                            <input type="email" name="email" class="form-control" placeholder="Your email">
                        </div>

                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Your comment</label>
                            <textarea name="content" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>

                        <div class="form-group mb-3">

                            <input type="submit" class="btn btn-success" value="Send">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in related_products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            {% if product.discount %}
                                <div class="badge bg-dark text-white position-absolute"
                                     style="top: 0.5rem; right: 0.5rem">
                                    Sale
                                </div>
                            {% endif %}
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.get_absolute_url }}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product reviews-->
                                    <div>
                                        <h5>rating : {{ product.comment_rating }}</h5>
                                    </div>
                                    <!-- Product price-->
                                    {% if product.discount %}
                                        <span class="text-muted text-decoration-line-through">
                                    ${{ product.price }}
                                    </span>
                                        ${{ product.discounted_price }}
                                    {% else %}
                                        ${{ product.price }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                            href="{% url 'shop:product_detail' product.id %}">View
                                    product</a></div>


                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}